<!-- Main sidebar and contents are here -->
<section>
  <div class="main-content" data-spy="scroll" data-target="#myScrollspy" data-offset="1">

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-3 " id="myScrollspy">

          <ul class="list-group list-group-flush nav nav-pills flex-column card shadow-lg ">
            <!-- <li class="list-group-item" href="#section1"><a class="nav-link " href="#section1">Section 1</a></li> -->
            <li class="list-group-item"><a class="nav-link " href="#section1">Investments</a></li>
            <li class="list-group-item"><%= link_to 'New Investment', new_investment_path %></li>
            <li class="list-group-item"><a class="nav-link " href="#section3">Section 3</a></li>
            <li class="list-group-item"><a class="nav-link " href="#section41">Section 4</a></li>
            <li class="list-group-item"><a class="nav-link " href="#section42">Section 5</a></li>
          </ul>
        </nav>


        <div class="col-sm-9 col-10 main-content-items">

          <div id="section1" class="card shadow-lg">
            <h1 class="card-title">Investments</h1>  
            <%= render "dashboard/section" %>
          </div>

          
        </div>
      </div>
    </div>
  </div>
<!--   <div class="card">
  </div> -->
</section>
