body{
	background:"#e5e6e8";
	background-image: linear-gradient(to bottom right, #e5e6e8, #ffffff);
	/*margin-top: 10%;*/
	padding-top: 100px;
}


.image {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}


input[type="text"],
select.form-control
{
	border-radius: 50px;
}

input[type="number"],
select.form-control
{
	border-radius: 50px;
}



input[type="password"],
select.form-control
{
	border-radius: 50px;
}

input[type="submit"],
select.form-control
{
	border-radius: 50px;
	width: 100%;
}



input[type="email"],
select.form-control
{
	border-radius: 50px;
}

.actions
{
	width:100%;
}

.profilepic
{
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: fill;
}

.card-title
{
	vertical-align: middle;
	padding-top: 7%;
}

.navbar
{
	height: auto;
	top: 0;
}



.corner-text{
	padding-right: 5px;
}

.card-title
{
	margin-top: -6%;
}

.card{
	margin-top: 5%;
}

.btn
{
	border-radius: 50px;
}

.outline
{
	outline: none;
}
