.main-content {
    	position: relative;
      padding-top: 7%;
  }

.main-content-items{
}

  ul.nav-pills {
    top: 25%;
    position: fixed;
  }
  div.col-8 div {
    height: auto;
  }

  .content-section
  {

  }

  .card
  {
  background: #ffffff;
  padding: 1%;
  margin-top:2%;
  border-radius: 10px;
  border-color: #467BFF;
  }

  hr
  {
    border-color: #467BFF;
  }