<div class="row justify-content-center">
  <div class="card shadow-lg" style="width:auto; height: auto;">
    <div class="card-body">

      <div class=".payment-errors"></div>
        <div class="form-row">
          <h2 class="card-title">Add Card Details</h2>

            <div class="card-body">
              <form action="/charges" method="post" id="stripe-form">
                <div class="formset">
                  <label>Card Number</label>
                  <input type="text" size="20" autocomplete="off" class="credit-number" />
                </div>

                <div class="formset">
                  <label>Security Code/CVC</label>
                  <input type="text" size="4" autocomplete="off" class="credit-scurity" />
                </div>

                <div class="formset">
                  <label>Expiration (MM/YYYY)</label>
                  <input type="text" size="2" class="card-expiry-month"/>
                  <span> / </span>
                  <input type="text" size="4" class="card-expiry-year"/>
                </div>
                <button type="submit" class="submit">Submit Payment</button>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>