<div class="row justify-content-center">
  <div class="card shadow-lg" style="width:auto; height: auto;">
    <div class="card-body">

        <div class="form-row">
          <h2 class="card-title">Edit Profile</h2>

          

          <div class="form-group ml-auto">
             <%= image_tag(current_user.image, class: "profilepic", onclick:"trigger()") %>
          </div>
        </div>

        <%= render "users/registrations/form"%>

      <hr>

      <%= link_to "Back", :back %>

    </div>
  </div>
</div>
