<div class="row justify-content-center">
  <div class="card shadow-lg" style="width:auto; height: auto;">
    <div class="card-body">

        <div class="form-row">
          <h2 class="card-title">Create Profile</h2>

          <span ></span>

            <div class="form-group ml-auto">
               <%= image_tag("/assets/default_user_pic.png", class: "profilepic", onclick:"trigger()") %>
            </div>       
        </div>

        <%= render "users/registrations/form"%>

      <hr>

      <%= link_to "Sign In",new_session_path(resource_name) %>

    </div>
  </div>
</div>
